<app-navbar></app-navbar>  
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="float-left pt-3 w-80 h-75">
				<app-comment-input></app-comment-input>
				<app-comment-list [courseData]="courseData"></app-comment-list>
			</div>
		</div>
		<div class="col-md-4">
				<br><br>
				<app-course-card searchQuery="{{searchQuery}}" [courseData]="courseData" percentColor="orange"></app-course-card>
				<div *ngIf='!ratingsExist' style="text-align:center"> <strong>No ratings available</strong>  </div>
				<div *ngIf="ratingsExist">
					<app-sliders [initialRating]="setRatings('useful')" 
								 [sliderDisabled]='true'
								 [label]="'Usefulness'"></app-sliders>
					<app-sliders [initialRating]="setRatings('difficult')" 
								 [sliderDisabled]='true'
								 [label]="'Difficulty'"></app-sliders>
				</div>

				
		</div>
	</div>
</div>
