<app-navbar></app-navbar>  
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="float-left pt-3 w-80 h-75">
				<app-comment-input></app-comment-input>
				<app-comment-list></app-comment-list>
			</div>
		</div>
		<div class="col-4">
				<br><br>
				<app-course-card searchQuery="{{searchQuery}}" [courseData]="courseData" percentColor="orange"></app-course-card>
				<div *ngIf='!ratingsExist' style="text-align:center"> <strong>No ratings available</strong>  </div>
				<form #slidersForm class="my-4 w-100">
					<p class="float-right">Usefulness: <span class='badge badge-info' #useRating></span></p>
					<input #usefulnessSlider [attr.rating-level]="assignRatingLevel('usefulness')" disabled="disabled" (input)="updateRating('usefulness')" type="range" min="0" max="100"/>
			
					<p class="float-right">Difficulty: <span class='badge badge-info' #diffRating></span></p>
					<input #difficultySlider [attr.rating-level]="assignRatingLevel('difficulty')" disabled="disabled" (input)="updateRating('difficulty')" type="range" min="0" max="100"/>
					
				</form>
				
				
		</div>
	</div>
</div>
