textarea {
    resize: none;
}

.center {
    margin: auto;
    width: 50%;
}
<<<<<<< HEAD
.inCommentRating {
    color: red !important;
    font-size: 1.5em !important;
=======

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
>>>>>>> 1b56924d4094787da45c2e1b6be7c4b07cd8d259
}