<app-navbar></app-navbar>  

<div class="container">

  <div class="row">
    <div class="col-md-6 mb-sm-2 pr-0">
      <app-user-profile></app-user-profile>
    </div>
    <div class="col-md-6 mt-lg-5 mt-md-5 mt-sm-0">
      <h4 class="pl-2 text-primary">Recent reviews & comments...</h4>

      <app-comment courseId="courseData[CSC165]" [comments]="comments"></app-comment>
    </div>
  </div>

</div>




<!-- 
<div class="container">
  <div class="row justify-content-center">
    <img #coursehubLogo src="https://coursehub.ca/assets/Courshub-blue.png" height="50%" width="50%" alt="coursehub logo" style="margin-top: 10%;cursor: pointer;" (click)="navigateHome()">
    <app-searchbar (messageEvent)="receiveMessage($event)" class="col-md-8 offset-md-1"></app-searchbar>
  </div>
  <div class="row">
    <ng-container *ngIf="courseSearchResponse">
      <div *ngFor="let item of courseSearchResponse['matching_courses']" class="col-md-4">
        <app-course-card searchQuery="{{searchQuery}}" [courseData]="item" percentColor="orange"></app-course-card>
      </div>
    </ng-container>
    <p>LASDLASLDALSDALSDLALALSDALSD</p>
  </div>
</div> -->