<div id="mySidenav" class="container sidenav">


  <div>
    <app-course-card  name='{{courseCode}}' description='{{courseDescription}}' overallRating='{{courseOverallRating}}' color='peach' percentColor=''></app-course-card>
    <button routerLink='/dashboard' class="btn btn-warning btn-sm float-right">Back</button>
  </div>

  <div class="pt-2 pl-4">
      <div class="c100 p25 small orange">
          <span>25%</span>
          <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
          </div>
      </div>
      <div class="c100 p25 small orange float-right">
          <span>25%</span>
          <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
          </div>
      </div>
  </div>

</div>
