<div id="mySidenav" class="container sidenav row-eq-height">


  <app-course-card class="col-md-12" name='CSC165H1' color='peach' percentColor=''></app-course-card>
  <div class="center">
      <div class="c100 p25 small orange" style="float: left;">
          <span>25%</span>
          <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
          </div>
      </div>
      <div class="c100 p25 small orange" style="float: right; ">
          <span>25%</span>
          <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
          </div>
      </div>
  </div>
  <button routerLink='/dashboard' class="btn btn-primary btn-sm mt-auto">Back</button>




</div>
