
<div *ngFor="let comment of comments" >
	<div class="media border  border-dark  mb-3 p-3" id="commentBorder">
	  <!-- <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" alt="Generic placeholder image"> -->
	  <div class="media-body">

      <div class="d-inline">
        <span><h5 class="font-weight-bold float-left ">Anon</h5></span>
        <span id="timestamp" class="font-italic float-right">9:06 Thu Nov 1</span>
        <span><i class="fa fa-thumbs-o-down  pr-5 float-right " aria-hidden="true" style="color:red"></i></span>
        <span><i class="fa fa-thumbs-o-up  pr-3 float-right"  aria-hidden="true" style="color:green"></i></span>
        <span id="score" class="font-weight-bold float-right pr-2"> 150</span>
      </div>
 
      <div class="d-block pt-3 text-left">
        <br>
        {{comment}}
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
        vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
      </div>
      
	  </div>
	</div>
</div>

<!-- <p>{{comment}}</p> -->

<!-- <div class="media">
    	<div class="media-left"></div>
    	<div class="media-body">
	    	<h4 class="media-heading">{{comment}}</h4>
	      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    	</div>
	</div> -->



<!-- <div class="card">
  <div class="card-body">
  	<div class="card-header">Header</div>
    <h4 class="card-title">Card title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->

<!-- <div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
 -->