.fa {
	font-size: xx-large;
	
}

.border {
    border-width:2px !important;
    border-radius: 25px
}

/*#timestamp {
	padding-right: 10%;
	padding-left: 20%
}*/

#score {
	font-size: x-large;
}

/*.fa-thumbs-o-up:before {
    background-color: blue
}

.fa-thumbs-o-down:before {
    background-color: orange
}*/