@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

$blue: #ffffff ;

*, div {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #e8eaf6;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: block;
  width: 70%;
  margin: 20px auto 0 auto;
  background: #fff;
  height: 100vh;
}

.sw {
  float: left;
  width: 80%;
  height: 80px;
  // background: $blue;
  padding: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 0 0px rgba(#000,.1);
  margin: 20px 20px 70px 20px;

  
  form {
    float: left;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  a.logo {
    display: flex;
    flex: 1 1 auto;
    order: 0;
    width: 100%;
    height: 100%;
    max-width: 80px;
    margin-right: 10px;
    transition: all 0.05s ease-in-out;
    visibility: visible;
    opacity: 1;
    // svg {
    //   max-width: 100%;
    //   width: 100%;
    //   margin-top: auto;
    //   margin-bottom: auto;
    // }
  }
  
  .search {
    flex: 1 1 auto;
    order: 2;
    outline: none;
    border: none;
    border-radius: 0;
    background: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    vertical-align: middle;
    transition: all 0.05s ease-in-out;
    -webkit-appearance: none;
    &:focus {
      height: 80px;
      margin-left: -15px;
      padding: 10px 15px;
      + .go {
        height: 80px;
        margin-right: -15px;
        max-width: 80px; // Prevent icon from moving
        color: $blue;
        + a.logo {
          visibility: hidden;
          opacity: 0;
          max-width: 0px;
          margin-right: 0;
        }
      }
    }
  }
  
  .go {
    flex: 1 1 auto;
    order: 3;
    max-width: 50px;
    display: inline-block;
    border: none;
    background: #fff;
    color: #ccc;
    height: 50px;
    transition: all 0.05s ease-in-out;
    font-size: 21px;
    outline: none;
  }
}