<!-- <form class="form-inline md-form form-sm mt-0">
  <i class="fa fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" id="course-input"
  type="text" placeholder="Search" aria-label="Search" (keyup)="checkValidInput($event)"
  [(ngModel)]='course' name='course'
  >
</form>  -->
<div class="sw">
    <form>
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="search" class="search" placeholder="eg. CSC165" id="course-input"  (keyup)="checkValidInput($event)"
      [(ngModel)]='course' name='course'/>
      <button class="go"><span class="entypo-search"></span></button>
    </form>
  </div>
