<div class="card">

  <div class="card-body">
  
  <!-- Title -->
    <div>
      <h6 class="card-title d-inline text-primary"><a>Prerequisite:</a></h6>
      <!-- Text -->
      <p class="card-text d-inline" #prereqElement></p>
    </div>
    
    <div>
      <!-- Title -->
      <h6 class="card-title d-inline text-primary"><a>Corequisite:</a></h6>
      <!-- Text -->
      <p class="card-text d-inline" #coreqElement></p>
    </div>

    <div>
      <!-- Title -->
      <h6 class="card-title d-inline text-primary"><a>Exclusion:</a></h6>
      <!-- Text -->
      <p class="card-text d-inline" #excluElement></p>
    </div>

    <div>
        <!-- Title -->
        <h6 class="card-title d-inline text-primary"><a>Breadth:</a></h6>
        <!-- Text -->
        <p class="card-text d-inline" #breadthElement></p>
      </div>
  
  </div>

</div>
