<div class="card">

  <div class="card-body">
  
  <!-- Title -->
    <div>
      <h6 class="card-title d-inline text-primary"><a>Prerequisite:</a></h6>
      <!-- Text -->
      <p class="card-text d-inline">CSC240H1 or an A- in CSC236H1</p>
    </div>
    
    <div>
      <!-- Title -->
      <h6 class="card-title d-inline text-primary"><a>Corequisite:</a></h6>
      <!-- Text -->
      <p class="card-text d-inline">STA247H1/STA255H1/STA257H1</p>
    </div>

    <div>
      <!-- Title -->
      <h6 class="card-title d-inline text-primary"><a>Exclusion:</a></h6>
      <!-- Text -->
      <p class="card-text d-inline">CSC263H1</p>
    </div>
  
  </div>

</div>
