<div class="course-review-form-container">
  <div class="row">
    <div class="col-md-12">
      <app-sliders initalRating="" sliderDisabled="" label=""></app-sliders>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-sliders initalRating="" sliderDisabled="" label=""></app-sliders>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-comment-input inputLabel="(Optional) Comments" submitBtn="false"></app-comment-input>
    </div>
  </div>
</div>