  <mdb-card cascade="true" wider="false">
    <div class="view view-cascade gradient-card-header blue-gradient">
      <h2 class="card-header-title mb-2">{{name}}</h2>
      <span><p>Rating:</p></span>
      <div class="c100 p{{totalRating}} small center">
          <span>{{totalRating}}%</span>
          <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
          </div>
      </div>
    </div>

    <mdb-card-body cascade="true" class="text-center">
      <mdb-card-text>
          {{description}}
      </mdb-card-text>

      <a routerLink='/course-page' class="blue-text mt-1 d-flex flex-row-reverse">
        <h5 class="waves-effect p-2" mdbWavesEffect>
          <i class="fa fa-chevron-right"></i>
        </h5>
      </a>
    </mdb-card-body>
  </mdb-card>
