<!-- <nav class="mb-1 navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">CourseHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect waves-light" href="#">
            <i class="fa fa-envelope"></i> Contact
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="#">
            <i class="fa fa-gear"></i> Settings</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i> Profile </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item waves-effect waves-light" href="#">My account</a>
            <a class="dropdown-item waves-effect waves-light" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav> -->

<div class="container">
  <div class="row justify-content-center">
    <img #coursehubLogo src="../../assets/Courshub-blue.png" height="50%" width="50%" alt="coursehub logo" style="margin-top: 10%;cursor: pointer;" (click)="navigateHome()">
    <app-searchbar (messageEvent)="receiveMessage($event)" class="col-md-8 offset-md-1"></app-searchbar>
  </div>
  <div class="row">
    <ng-container *ngIf="courseSearchResponse">
      <div *ngFor="let item of courseSearchResponse['matching_courses']" class="col-md-4">
        <app-course-card searchQuery="{{searchQuery}}" [courseData]="item" percentColor="orange"></app-course-card>
      </div>
    </ng-container>
  </div>
</div>

<!-- <br>
<div class="col-md-6">
  <textarea class="form-control" id="comment-input" rows="3" placeholder="Enter text here" [(ngModel)]="currentComment"></textarea>

  <button mdbBtn type="submit" color="primary" class="waves-light" mdbWavesEffect (click)='addComment()'>Submit</button>
</div>

<div class="col-md-6" *ngFor="let comment of comments">
  <ul class="list-group">
    <li class="list-group-item">{{comment}}</li>
  </ul>
</div> -->