
<div class="col-lg-4 col-md-6">
  <app-searchbar></app-searchbar>
  <app-course-card></app-course-card>
</div>
<br>
<div class="col-md-6">
    <textarea class="form-control" id="comment-input" rows="3" placeholder="Enter text here"
    [(ngModel)]="currentComment"></textarea>

    <button mdbBtn type="submit" color="primary" class="waves-light" 
    mdbWavesEffect (click) = 'addComment()'>Submit</button>
  </div>

<div class="col-md-6" *ngFor="let comment of comments" >
  <ul class="list-group">
      <li class="list-group-item">{{comment}}</li>
    </ul>
  </div>