<mdb-card cascade="true" wider="false" *ngIf="courseData">
  <div id="courseCardHeader" class="view view-cascade gradient-card-header {{color}}-gradient" (click)="navigateToCoursePage()">
    <h2 class="card-header-title mb-2" class="courseCode">{{courseData['code']}}</h2>
    <span><p>{{courseData['rating_count']}} reviews</p></span>
    <app-ratings-circle 
    [rating]="getOverallRatingAsPercent()"
    [hide]="courseData['overall_rating'] == 0"
    [percentColor]="percentColor"
    ></app-ratings-circle>
  </div>

  <mdb-card-body cascade="true" class="text-center">
    <mdb-card-text>
        <read-more [text]="'<b>' + courseData['title'] + '</b>' + '<br><br> ' + courseData['description']" [maxLength]="180"></read-more>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card><br><br>
