.center {
    margin: auto;
    width: 50%;
}

#courseCardHeader {
  cursor: pointer;
}

@import url(https://gistcdn.githack.com/tash-had/3231b3f9381504c7d39b2335ccd03e7a/raw/f4226da4aa78cf83970b33d200142bd215d4e691/percentage_circle.css);
